/*
Change these options to customize the color scheme and a few layout options of your website.
Most layout options are stored in src/css/advanced_stylesheet.css. I do not recommend messing with those settings
unless you know what you're doing, or you're willing to spend a lot of time on trial and error.

For any colors, you can represent them in hexadecimal like this (#FF0000 = red)
or use this list of available color names: https://www.w3schools.com/cssref/css_colors.asp
 */
 
	@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

body {
	font-family: "Agdasima", sans-serif;  /* The font of all the text on all pages */
    color: black;  /* The color of the font of most of the text on your website */
    background-color: white;  /* The color of the background behind everything */
    background-image: url("../../../images/background_image.png");  /* The pattern on the background. Delete to change to a solid color
                                                       or replace with your own image to tile across your background. */
}

a {
    color: purple;  /* The color of the hyperlinks */
}

div#container {
    min-width: 600px; /* Set the minimum width of the container to 1000 pixels */
	max-width: 1500px; /* Set the maximum width of the container to 1500 pixels */
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 10px lightgray;
	border: 2px white; /* Ads border */
}

@media (max-width: 600px) {
  #container {
    min-width: 100%; /* Set the minimum width to 100% on smaller screens */
  }
}

/* Media query for screens below 768px (mobile devices) */
@media screen and (max-width: 767px) {
  #links-bar {
    font-size: 20px; /* Increase the font size for mobile */
    padding: 10px; /* Adjust the padding as desired */
  }


div#banner {
    background-color: transparent;
    padding: 10px;
	display: flex;
	justify-content: center; /* Horizontally center the content */
	align-items: center; /* Vertically center the content */
}
  
div#links-bar.desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #9654cd, #8a40c7);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

a.link-bar-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

a.link-bar-link:hover {
    color: black;
}

a.navigation-button {
    color: purple;  /* Color of the navigation bar hyperlinks */
    font-size: 4em;  /* Size of the navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your navigation links to be underlined */
}

a.navigation-button-disabled {
    color: gray;  /* Color of the disabled navigation bar hyperlinks */
    font-size: 3em;  /* Size of the disabled navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your disabled navigation links to be underlined */
}

div#blurb {
    background-color: lightgray;  /* The color of the "blurb" box that contains post title, post date, tags, etc. */
    width: 75%;  /* The maximum width of the blurb box. */
    border-left: 3px dotted lightslategray;  /* If you change the background color of the blurb, play with these two lines or else it will look bad */
    border-right: 3px dotted lightslategray;
}

h1#page-title {
    color: black;  /* Color of the page title */
    font-size: 3em;  /* Font size of the post title */
}

div#post-date {
    font-weight: bold;  /* Delete this to unbold the post date */
}

div#storyline, div#characters, div#tags {
    font-style: italic;  /* Delete this to unitalicize the tags */
}
